/* COLORS */
$_black: #0B1221;
$_white: #ffffff;

/* VARIABLES */
$sans: 'PT Sans', sans-serif;
$mono: 'PT Mono';

/* MIXINS */
@mixin darken($property,$base-color){
  #{$property}: shade( $base-color, 12% );
}
@mixin colorway( $base-color, $text-color ){
  background-color: $base-color;
  color: $text-color;
  .branding{
    .logotype{
      path{
        fill: $base-color;
      }
    }
  }
  section{
    &.model{
      background-color: mix( $text-color, $base-color, 20% );
    }
  }
}
/* BASE */
body{
  margin: 0px auto;
  font-size: 18px;
  font-family: $mono;
  color: $_white;
}