/* COLORS */
$_black: #0B1221;
$_white: #ffffff;

/* VARIABLES */
$med-bp: 'all and (max-width: 860px)';
$med-sm-bp: 'all and (max-width: 600px)';
$sm-bp: 'all and (max-width: 400px)';
$tall-bp: 'all and (min-height: 860px)';

/* MIXINS */
@mixin background-gradient($color){
  $hade: darken( $color, 33% );
  background: $color; /* Old browsers */
  background: -moz-radial-gradient(bottom, ellipse cover,  $color 0%, $hade 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%,$color), color-stop(100%,$hade)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(bottom, ellipse cover,  $color 0%,$hade 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(bottom, ellipse cover,  $color 0%,$hade 100%); /* Opera 12+ */
  background: -ms-radial-gradient(bottom, ellipse cover,  $color 0%,$hade 100%); /* IE10+ */
  background: radial-gradient(ellipse at bottom,  $color 0%,$hade 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{color}', endColorstr='#{$hade}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  
}
@mixin colorway( $base-color, $compliment ){
  background-color: $compliment;
  $hade: darken($base-color, 30%);
  nav{
    color: $base-color;
    border-color: $base-color;
    a{
      border-bottom-color: $base-color;
    }
  }
  section.product.top{
    @include background-gradient($base-color);
  }
  .logo{
    color: $base-color;
  }
  .slideshow-nav{
    background-color: $base-color;
  }
}
/* BASE */
body{
  margin: 0px auto;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}