.container{
	margin: 0px auto;
	width: 100%;
  padding: 0 5% 0;
}
.relative-wrap{
  position: relative;
}
section{
  width: 100%;
  &.content{
    padding: 12em 0 0;
    &.product{
      padding: 9em 0 0;
    }
  }
}
.left-column{
  position: absolute;
  max-width: 300px;
  top: 0;
}
.center-column{
  width: intrinsic;
  margin:0 auto;
  padding-left: 160px;
}
.right-column{
  position: absolute;
  right: 0;
  section.product &{
    top: 0;
  }
  li.product &{
    bottom: 0;
  }
}