.container{
	margin: 0px auto;
	width: 100%;
  padding: 0 5% 0;
  max-width: 1300px;
}
section.product{
  width: 100%;
  padding-top: 8em;
  &.bottom{
    position: absolute;
    top: 0;
    @media #{$med-bp}{
      position: static;
      padding: 0 0 4em;
    }
  }
}
.relative-wrap{
  position: relative;
}
.right-column{
  position: absolute;
  top: 0;
  right: 0;
}