nav{
  position: fixed;
  bottom: 1em;
  color: $_white;
  @media #{$med-bp}{
     bottom: 0px;
     left: 0px;
     right: 0px;
     width: 100%;
     background-color: $_black;
     padding: .4em inherit;
     z-index: 400;
  }
  @media all and (max-height: 700px){
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: $_black;
    padding: .4em inherit;
    z-index: 400;
  }
  ul{
    li{
      display: inline-block;
      padding: 0 1.2em 0 0;
      line-height: 1.7em;
      font-weight: 400;
      font-size: .9em;
      letter-spacing: .1em;
      a{
        border-bottom: 1px solid;
        border-bottom-color: inherit;
      }     
      #cart-count{
        position: absolute;
        bottom: 0;
        margin-left: 4px;
        background-color: rgba(0,0,0,.2);
        padding: 0px 6px;
        border-radius: 12px;
      }
    }
  }
}


