.edition-count{
  height: 8em;
  width: 8em;
  border-radius: 6em;
  padding: 1.7em 0 0;
  border: 2px solid $_white;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  h2{
    display: inline;
  }
  h2 + h2{
    &:before{
      height: 40px;
      width: 2px;
      background-color: $_white;
      content: "";
      display: inline-block;
      vertical-align: middle;
      transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      margin: 0 .3em;
    }
  }
}
section.product{
  padding: 12em 0 0;
  .product-wrap{
    position: relative;
  }
  .information{
    position: absolute;
    max-width: 300px;
    p{
      padding: 0 0 2em;
      border-bottom: 2px solid $_white;
    }
    .price{
      margin: 2em 0 0;
    }
  }
  .model{
    width: intrinsic;
    margin-left: calc(5% + 250px);
  }
}
.social{
  position: absolute;
  bottom: 1em;
}