.edition-count{
  height: 8em;
  width: 8em;
  border-radius: 6em;
  padding: 1.7em 0 0;
  border: 2px solid $_white;
  text-align: center;
  margin: 3em 0 0;
  h2{
    display: inline;
  }
  h2 + h2{
    &:before{
      height: 40px;
      width: 2px;
      background-color: $_white;
      content: "";
      display: inline-block;
      vertical-align: middle;
      transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      margin: 0 .3em;
    }
  }
}
section.product{
  color: $_white;
  .product-wrap{
    position: relative;
  }
  .information{
    margin: 3em 0 0;
    .price{
      margin: 2em 0 0;
    }
  }
}
.social{
  position: absolute;
  bottom: 1em;
  div{
    display: inline-block;
    vertical-align: middle;
    padding-right: .7em;
  }
}