#model{
  width: 510px;
  height: 504px;
  display: block;
  background-repeat: no-repeat;
  background-size: 300%;
  &.up{
    background-position:50% 0%;
  }
  &.up-left{
    background-position: 0% 0%;
  }
  &.up-right{
    background-position:100% 0%;
  }
  &.left{
    background-position:0% 50%;
  }
  &.front{
    background-position:50% 50%;
  }
  &.right{
    background-position:100% 50%;
  }
  &.down-left{
    background-position: 0% 100%;
  }
  &.down{
    background-position: 50% 100%;
  }
  &.down-right{
    background-position: 100% 100%;
  }
}