#model{
  width: 540px;
  height: 540px;
  display: block;
  background-repeat: no-repeat;
  background-size: 300%;
  @media all and (min-width:1200px) and (min-height: 860px){
    height: 620px;
    width: 620px;
  }
  @media #{$med-sm-bp}{
    width: 400px;
    height: 400px;
  }
  @media #{$sm-bp}{
    width: 260px;
    height: 260px;
  }
  &.up{
    background-position:50% 0%;
  }
  &.up-left{
    background-position: 0% 0%;
  }
  &.up-right{
    background-position:100% 0%;
  }
  &.left{
    background-position:0% 50%;
  }
  &.front{
    background-position:50% 50%;
  }
  &.right{
    background-position:100% 50%;
  }
  &.down-left{
    background-position: 0% 100%;
  }
  &.down{
    background-position: 50% 100%;
  }
  &.down-right{
    background-position: 100% 100%;
  }
}